[submodule "firmware/firmware-esp32"]
	path = firmware/firmware-esp32
	url = git@github.com:4mrit/smart-switch-firmware-esp32.git

[submodule "software/auth-service"]
	path = software/auth-service
	url = git@github.com:4mrit/smart-switch-auth-service.git

